# Example keystore.properties configuration
# Store this file at hasnain-food-point-web/android/keystore.properties (Strictly gitignored!)
storeFile=../../keystore/hasnain-release-key.jks
storePassword=Lovethat@1
keyAlias=hasnain-food-point
keyPassword=Lovethat@1
